In [6]:
%load_ext sql

In [7]:
%sql ibm_db_sa://mvs03767:D8yRgHMGBziQL8FO@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb?security=SSL

'Connected: mvs03767@bludb'

**Problem 1**

In [3]:
%sql select count(*) from chicago_crime_data;

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(533,)]

**Problem 2**

In [6]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME_ from chicago_socioeconomic_data where PER_CAPITA_INCOME_ < 11000;

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

**Problem 3**

In [15]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where IUCR = '1752';

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('HT394616',)]

**Problem 4**

In [22]:
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE IUCR = '1792';

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('HN144152',)]

**Problem 5**

In [23]:
%sql SELECT PRIMARY_TYPE FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = 'SCHOOL, PUBLIC, BUILDING';

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('BATTERY',),
 ('BATTERY',),
 ('BATTERY',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

**Problem 6**

In [25]:
%sql select avg(SAFETY_SCORE) as Average_Safety_Score from CHICAGO_PUBLIC_SCHOOLS;

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(49,)]

**Problem 7**

In [9]:
%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY \
from census_data order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc nulls last limit 5;

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

**Problem 8**

In [16]:
%sql select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA GROUP BY community_area_number \
order by count(community_area_number) desc limit 1;

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(25,)]

**Problem 9**

In [25]:
%sql select community_area_name from census_data where hardship_index = (select max(hardship_index) from census_data);

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('Riverdale',)]

**Problem 10**

In [17]:
%sql select community_area_name \
from census_data where community_area_number in(select COMMUNITY_AREA_NUMBER \
                                                from CHICAGO_CRIME_DATA GROUP BY community_area_number \
                                                order by count(community_area_number) desc limit 1);

 * ibm_db_sa://mvs03767:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[('Austin',)]